[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "ivymarkwell.github.io"]
	path = ivymarkwell.github.io
	url = git@github.com:ivymarkwell/ivymarkwell.github.io.git
